/*.log
/*.cache
/*.unsuccessfulbuild
/*.suo
/*.sdf
/msvscpp/UpgradeLog.XML

# IntelliSense data and Visual Studio user options
/libewf/msvscpp/*.ncb
/msvscpp/*.sdf
/msvscpp/.vs/*
/*.lastbuildstate
/msvscpp/libewf.VC.db
/msvscpp/libewf.VC.VC.opendb
/msvscpp/ipch/*
/msvscpp/scripts
/msvscpp/*.suo
/*.sln.cache
/msvscpp/*.opensdf
/msvscpp/Release/*
/msvscpp/VSDebug/*
/msvscpp/x64/*

/msvscpp/bzip2_dll/Debug/*
/msvscpp/ewf.net/Debug/*
/msvscpp/ewfacquire/Debug/*
/msvscpp/ewfacquirestream/Debug/*
/msvscpp/ewfexport/Debug/*
/msvscpp/ewfinfo/Debug/*
/msvscpp/ewfmount/Debug/*
/msvscpp/ewfrecover/Debug/*
/msvscpp/ewfverify/Debug/*
/msvscpp/libbfio/Debug/*
/msvscpp/libcaes/Debug/*
/msvscpp/libcdata/Debug/*
/msvscpp/libcerror/Debug/*
/msvscpp/libcfile/Debug/*
/msvscpp/libclocale/Debug/*
/msvscpp/libcnotify/Debug/*
/msvscpp/libcpath/Debug/*
/msvscpp/libcsplit/Debug/*
/msvscpp/libcstring/Debug/*
/msvscpp/libcsystem/Debug/*
/msvscpp/libewf_dll/Debug/*
/msvscpp/libfcache/Debug/*
/msvscpp/libfvalue/Debug/*
/msvscpp/libhmac/Debug/*
/msvscpp/libmfdata/Debug/*
/msvscpp/libodraw/Debug/*
/msvscpp/libsmdev/Debug/*
/msvscpp/libsmraw/Debug/*
/msvscpp/libuna/Debug/*
/msvscpp/pyewf/Debug/*
/msvscpp/zlib_dll/Debug/*

/msvscpp/bzip2_dll/Release/*
/msvscpp/ewf.net/Release/*
/msvscpp/ewfacquire/Release/*
/msvscpp/ewfacquirestream/Release/*
/msvscpp/ewfexport/Release/*
/msvscpp/ewfinfo/Release/*
/msvscpp/ewfmount/Release/*
/msvscpp/ewfrecover/Release/*
/msvscpp/ewfverify/Release/*
/msvscpp/libbfio/Release/*
/msvscpp/libcaes/Release/*
/msvscpp/libcdata/Release/*
/msvscpp/libcerror/Release/*
/msvscpp/libcfile/Release/*
/msvscpp/libclocale/Release/*
/msvscpp/libcnotify/Release/*
/msvscpp/libcpath/Release/*
/msvscpp/libcsplit/Release/*
/msvscpp/libcstring/Release/*
/msvscpp/libcsystem/Release/*
/msvscpp/libewf_dll/Release/*
/msvscpp/libfcache/Release/*
/msvscpp/libfvalue/Release/*
/msvscpp/libhmac/Release/*
/msvscpp/libmfdata/Release/*
/msvscpp/libodraw/Release/*
/msvscpp/libsmdev/Release/*
/msvscpp/libsmraw/Release/*
/msvscpp/libuna/Release/*
/msvscpp/pyewf/Release/*
/msvscpp/zlib_dll/Release/*

/msvscpp/bzip2_dll/VSDebug/*
/msvscpp/ewf.net/VSDebug/*
/msvscpp/ewfacquire/VSDebug/*
/msvscpp/ewfacquirestream/VSDebug/*
/msvscpp/ewfexport/VSDebug/*
/msvscpp/ewfinfo/VSDebug/*
/msvscpp/ewfmount/VSDebug/*
/msvscpp/ewfrecover/VSDebug/*
/msvscpp/ewfverify/VSDebug/*
/msvscpp/libbfio/VSDebug/*
/msvscpp/libcaes/VSDebug/*
/msvscpp/libcdata/VSDebug/*
/msvscpp/libcerror/VSDebug/*
/msvscpp/libcfile/VSDebug/*
/msvscpp/libclocale/VSDebug/*
/msvscpp/libcnotify/VSDebug/*
/msvscpp/libcpath/VSDebug/*
/msvscpp/libcsplit/VSDebug/*
/msvscpp/libcstring/VSDebug/*
/msvscpp/libcsystem/VSDebug/*
/msvscpp/libewf_dll/VSDebug/*
/msvscpp/libfcache/VSDebug/*
/msvscpp/libfvalue/VSDebug/*
/msvscpp/libhmac/VSDebug/*
/msvscpp/libmfdata/VSDebug/*
/msvscpp/libodraw/VSDebug/*
/msvscpp/libsmdev/VSDebug/*
/msvscpp/libsmraw/VSDebug/*
/msvscpp/libuna/VSDebug/*
/msvscpp/pyewf/VSDebug/*
/msvscpp/zlib_dll/VSDebug/*